<!DOCTYPE html>
<html>
  <head>
    <title>User Data</title>
  </head>
  <body>
    <h1>User Data</h1>
    <img src="<%= userData.userAvatar %>" alt="User Avatar">
    <p>Username: <%= userData.userName %></p>
    <p>Profile URL: <%= userData.userProfileURL %></p>
    <h2>Recent Games</h2>
    <ul>
      <% userData.userRecentGames.forEach(game => { %>
        <li><%= game.name %> - <%= game.playtime_2weeks %> minutes played in the past 2 weeks</li>
      <% }); %>
    </ul>
  </body>
</html>