<!DOCTYPE html>
<html>
  <head>
    <title>User Data</title>
    <style>
      body {
        background-color: #171a21;
        color: #cdd5e0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      
      h1 {
        margin-top: 50px;
        text-align: center;
        font-size: 48px;
        font-weight: 400;
      }
      
      img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        border-radius: 50%;
        border: 3px solid #fff;
      }
      
      p {
        margin: 10px 0;
        font-size: 18px;
        line-height: 1.5;
      }
      
      .recent-games {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px;
      }
      
      .game {
        background-color: #1c1f25;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        padding: 20px;
        width: 45%;
      }
      
      .game h2 {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 400;
        color: #cdd5e0;
      }
      
      .article {
        margin-bottom: 10px;
      }
      
      .date {
        font-size: 14px;
        font-style: italic;
        margin: 5px 0;
        color: #7f8c8d;
      }
      
      .description {
        font-size: 16px;
        line-height: 1.5;
        color: #cdd5e0;
      }
      
      a {
        color: #66c0f4;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>User Data</h1>
    <img src="<%= userData.userAvatar %>" alt="User Avatar">
    <p style = "text-align: center;">Username: <%= userData.userName %></p>
    <a href="<%= userData.userProfileURL %>" style = "align-items: center;"><%= userData.userProfileURL %></a>
    <h2 style = "text-align: center;">Recent Games</h2>
    <div class="recent-games">
      <% Object.entries(userData.userRecentGames).forEach(([gameName, articleObject]) => { %>
        <div class="game">
          <h2><%= gameName %></h3>
          <% articleObject.forEach(article => { %>
            <div class="article">
              <h4><%= article.title %></h4>
              <p class="date"><%= article.date %></p>
              <p class="description"><%= article.description %></p>
              <a href="<%= article.link %>">Read more</a>
            </div>
          <% }); %>
        </div>
      <% }); %>
    </div>
  </body>
</html>